.header {
    width: 100%;
    height: 150px;
    border: 0px solid black;
    box-shadow: 0 0 6px 6px #242323;
   
    border: 0px solid black;
    
    opacity: 0.95;
    border-radius: 7px;
    position:sticky;
    top: 0px;
    left: 0px;right: 0px;bottom: 0px;
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 20%,#000000 100%,#111111 100%,#2c2c2c 100%);
    height: 100%;
}

.ul {
    padding: 5px;


}

.li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid rgb(236, 101, 89);
    display: inline-block;
    background-color: rgb(236, 101, 89);
    

}

.yellow {
    border: 1px solid rgb(255, 192, 79);
    background-color: rgb(255, 192, 79);

}

.green {
    border: 1px solid rgb(114, 190, 70);
    background-color: rgb(114, 190, 70);
}

.sql {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    padding-left: 5px;


}

.span {
    color: rgb(166, 255, 0);
}

.day {
    color: rgb(166, 255, 0);
    font-size: 25px;
}

.nav {
   
    width: 100%;
   
    position: relative;
    display: inline-block;
   top:-30px;
    
    height:100% ;
}

.nav-li {
    color: rgb(255, 255, 255);
    text-decoration: none;
    outline: none;
    display: inline-block;
    box-shadow: 0 0 6px 3px #242323;
    border-radius: 3px;
    padding: 10px;
    margin:10px; 
   

}

.nav-li:hover{
    color: rgb(166, 255, 0);
    text-decoration: none;
    outline: none;
}

.day-n
{
    text-align: center;
    line-height: 40px;
    width: 100%;
    height: 40px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 0px;
    position: sticky;
    top: 100px;right: 0px;bottom: 0px;
    left: 434px;
  
}

.header2{
    height: 50px;
    text-align: center;
  
    position: sticky;
    top: 180px;right: 0px;bottom: 0px;
}